main {
  margin: 0 auto;
  width: 900px;
}

#estimate div.contain {
  padding: 2%;
  background-color: #fce5cd;
}

#manual div.contain {
  padding: 2%;
  background-color: #fce5cd;
}

em {
  margin-bottom: 2%;
}

p {
  padding-top: 2%;
}

body {
  background-color: grey;
}

#manual .contain {
  display: flex;
}

#manual .contain div {
  width: 21%;
  margin: 2% !important;
}

#manual .contain p {
  width: 21%;
}

#manual .contain input {
  width: 21%;
}

h6 {
  width: 100%;
}

#manual div p {
  margin-top: 3%;
}

#inputs div {
  display: flex;
  flex-direction: row;
}
